body {
    font-family: 'Poppins', sans-serif;
}
.perfil-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .imagen-perfil {
    position: relative;
  }
  
  .imagen-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .imagen-perfil a {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
  }
  
  .info-perfil {
    margin-top: 20px;
    text-align: center;
  }
  
  .info-perfil h2 {
    margin-bottom: 10px;
  }
  
  .info-perfil p {
    margin-bottom: 5px;
  }
  
  .info-perfil a {
    font-size: 14px;
    color: #333;
  }
  

  .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 95%;
    background-color: #ffffff;
}

.user-profile i{
    color: #404040;
}

.user-profile a{
    text-decoration: none;
}

.user-profile a:hover {
    text-decoration: none;
}


header {
    background-color: #f2f2f2;
    padding: 10px;
}


.navbars {
    overflow: hidden;
}

.navbars a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-weight: bold;
    border: none;
    outline: none;
    color: #333;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbars a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* Footer */

.footer{
    background-color: #343434;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2b2b2b;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

.card {
    width: 300px;
    border: 3px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 35%;

}


.card img {
    width: 150px;
    height: 150px; /* Aseguramos que todas las imágenes tengan el mismo tamaño */
    border-radius: 50%; /* Aplicamos un borde redondeado */
    object-fit: cover; /* Para ajustar la imagen dentro del marco redondo */
    margin-bottom: 10px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

.card a:hover {
    background-color: #0056b3;
}