<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASTER EN CSS</title>
    <link rel="shortcut icon" href="../../../assets/favicon.png" type="image/x-icon">
    
    <link rel="stylesheet" href="home.component.css">

    

    <meta name="title" content="Psicositas">
    <meta name="description"
        content="Hola, soy una descripción que verás cuando busques algo de mi temática en Google.">


    <meta property="og:type" content="website">
    <meta property="og:title" content="Psicositas">
    <meta property="og:description"
        content="Hola, soy una descripción que verás cuando busques algo de mi temática en Google.">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.jordanalex.com/">
    <meta property="twitter:title" content="PSicositas">
    <meta property="twitter:description"
        content="Hola, soy una descripción que verás cuando busques algo de mi temática en Google.">
    
</head>

<body>

    <header class="hero">
        <nav class="navv containerr">
            <div class="nav__logo">
                <h2 class="nav__title">Psicositas</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="#" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Acerca de</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Contacto</a>
                </li>
               

                <img src="../../../assets/close.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="../../../assets/menu.svg" class="nav__img">
            </div>
        </nav>

        <section class="hero__container containerr">
            <h1 class="hero__title">Psicositas</h1>
            <p class="hero__paragraph">La educación no solo consiste en transmitir conocimientos, sino en formar personas íntegras y comprometidas</p>
            <a href="login" class="cta">Iniciar Sesión</a>
        </section>
    </header>

    <main>
        <section class="container about">
            <h2 class="subtitle">¿Para qué sirve la psicopedagogía?</h2>
            <p class="about__paragraph">La psicopedagogía es una ciencia que se encarga exclusivamente de los procesos de desarrollo dentro del aprendizaje. Mientras que la psicología estudia el comportamiento humano en cualquier ámbito (interpersonal, laboral, emocional, entre otros) y la pedagogía crea nuevos métodos de aprendizaje.</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="../../../assets/shapes.svg" class="about__icon">
                    <h3 class="about__title">Orientación del alumnado</h3>
                    <p class="about__paragrah">Llevar a cabo la orientación vocacional de los alumnos, es decir: guiarlos en los itinerarios dentro de la UTNG; o en su inserción dentro del mundo laboral.</p>
                </article>

                <article class="about__icons">
                    <img src="../../../assets/paint.svg" class="about__icon">
                    <h3 class="about__title">Atención a la diversidad</h3>
                    <p class="about__paragrah">La Psicopedagogía ofrece los recursos necesarios para la intervención y el desarrollo de programas que atiendan las dificultades de aprendizaje y desarrollo de los alumnos</p>
                </article>

                <article class="about__icons">
                    <img src="../../../assets/code.svg" class="about__icon">
                    <h3 class="about__title">Asesoramiento a la familia</h3>
                    <p class="about__paragrah">Asesorar a la familia del alumno en las dificultades de aprendizaje de su hijo y al equipo de profesionales (dentro y fuera de la escuela)</p>
                </article>
            </div>
        </section>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">¡Bienvenido/a a nuestra página web de citas psicopedagógicas!</h2>
                    <p class="knowledge__paragraph">Imagina un lugar donde puedes encontrar herramientas especializadas, recursos didácticos y expertos en psicopedagogía dispuestos a ayudarte en tu camino hacia el éxito académico y personal. Con tan solo un clic, podrás acceder a una amplia gama de contenidos diseñados para estimular tus habilidades cognitivas, fortalecer tu autoestima y mejorar tus técnicas de estudio.</p>
                    <a href="#" class="cta">Unirme Ahora</a>
                </div>

                <figure class="knowledge__picture">
                    <img src="../../../assets/psico4.png" class="knowledge__img">
                </figure>
            </div>
        </section>

        <section class="price container">
            <h2 class="subtitle">Nuestros especialistas:</h2>
        </section>

        <section class="testimony">
            <div class="testimony__container container">
                <img src="../../../assets/leftarrow.svg" class="testimony__arrow" id="before">

                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Ismael Prado, <span class="testimony__course">especialista en programación</span></h2>
                        <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                            esse, asperiores eaque totam nulla repudiandae quasi, deserunt culpa exercitationem
                            blanditiis laborum veniam laboriosam saepe reiciendis dolorem. Cum, ratione voluptatum!</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../../../assets/cec4192f-14d1-419b-b9c7-ba265dc30f83.JPG" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="2">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Alejandra Perez, <span class="testimony__course">especialista psicopedagogico</span></h2>
                        <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                            esse, asperiores eaque laborum veniam laboriosam saepe reiciendis dolorem. Cum, ratione
                            voluptatum!</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../../../assets/face2.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="3">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Karen Arteaga, <span class="testimony__course">especialista psicopedagogico</span></h2>
                        <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                            esse, niam laboriosam saepe reiciendis dolorem. Cum, ratione voluptatum!</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../../../assets/face3.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="4">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Kevin Ramirez, <span class="testimony__course">especialista psicopedagogico</span></h2>
                        <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                            esse, niam laboriosam saepe reiciendis dolorem. Cum, ratione voluptatum!</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../../../assets/face4.jpg" class="testimony__img">
                    </figure>
                </section>


                <img src="../../../assets/rightarrow.svg" class="testimony__arrow" id="next">
            </div>
        </section>

        <section class="questions container">
            <h2 class="subtitle">Preguntas frecuentes</h2>
            <p class="questions__paragraph">Estas son algunas preguntas que nos hacen frecuentemente acerca de la psicopedagogía</p>

            <section class="questions__container">
                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Cómo funciona la psicopedagogía?
                            <span class="questions__arrow">
                                <img src="../../../assets/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">La psicopedagogía es una disciplina que tiene parte de psicología y parte de educación, por ello, abarca funciones de ambas. Por esta razón, es importante destacar que no únicamente aprendemos cuando somos niños y estamos escolarizados en un centro educativo, sino que aprendemos desde el momento en que nacemos hasta el momento en que morimos. Nunca dejamos de aprender, y es por ello que las funciones de la psicopedagogía atienden a todas las etapas del desarrollo, es decir, a todas las edades. </p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿A qué se dedica la psicopedagogía como profesión?
                            <span class="questions__arrow">
                                <img src="../../../assets/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Es una disciplina que se encarga de trabajar aquellas dificultades de aprendizaje mostradas por personas con un déficit o alteración en su desarrollo, por ello, se pueden detectar situaciones susceptibles de ser tratadas tanto desde la escuela como desde casa.</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Qué tipo de casos trata la psicopedagogía?
                            <span class="questions__arrow">
                                <img src="../../../assets/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Por un lado, desde la escuela, son los profesores los que pueden detectar alguna situación en la que sospechen que algún determinado alumno podría necesitar la ayuda o apoyo de un profesional de la psicopedagogía. Por ejemplo, si un profesor indica a sus alumnos que deben hacer una redacción, en este caso podría detectar las dificultades que presentan sus alumnos en cuanto a la escritura en función de su edad. Una vez detectada la situación, los profesores deben ponerse en contacto con los padres del alumno para poder explicar la situación y, de forma conjunta, encontrar una solución, ya sea acudiendo al psicopedagogo del colegio o a un profesional externo. </p>
                    </div>
                </article>
            </section>

            <section class="questions__offer">
                <h2 class="subtitle">¿Estas listo/a para agendar tu cita en nuestro departamento psicopedagógico?</h2>
                <p class="questions__copy">Agendar una cita con nosotros es el primer paso para desbloquear tu potencial y alcanzar tus metas. Nuestro equipo de expertos en psicopedagogía está comprometido en brindarte una atención personalizada y de calidad, adaptada a tus necesidades individuales.</p>
                <a href="#" class="cta">Agenda Ahora</a>
            </section>
        </section>
    </main>

    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">Psicositas</h2>

                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="#" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Acerca de</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Contacto</a>
                    </li>
               
                </ul>
            </nav>

           
        </section>

        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="../../../assets/facebook.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="../../../assets/twitter.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="../../../assets/youtube.svg" class="footer__img"></a>
            </div>

            <h3 class="footer__copyright">Derechos reservados &copy; Psicositas Inc.</h3>
        </section>
    </footer>

    <script src="./js/slider.js"></script>
    <script src="./js/questions.js"></script>
    <script src="./js/menu.js"></script>
</body>

</html>
