.entrada{
    position: relative; 
    
}

i{
    position: absolute;
    left: 15px;
  top: 10px;
}

.form-control {
    padding-left:40px ;
}
.card{ 
    padding: 40px;
    width: 400px;
   padding: auto;
   margin-top :40px ;

}
button{
    width: 100%;
}
#ocultar{
    display: none;
}
#chk-politica:checked~#ocultar{
    display: block;
}

.login-container{
    width: 500px;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(90, 90, 90);
    padding: 20px;
    margin: 5% 30%;
    border-radius: 10px;
}
.form-group{
    margin-bottom: 20px;
}
.form-group input{
    margin-left: 10px;
}
.register{
    margin-top: 20px;
}
.register a{
    text-decoration: none;
}
.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(65, 64, 64, 0.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #040404;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#040404;
    
    
}
.login_form{
	background-color: #bfbfbf;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #101010;
	box-shadow: 0 0 5px rgba(8, 8, 8, 0.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 50%;
	border-radius: 30px;
	color:rgb(44, 42, 42);
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #454343;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #080909;
	color:#fff;
}
button{
    width: 100%;
}
.form-control {
    padding-left:40px ;
}

.row{
    border: 5px; ;
}
button{
    width: 100%;
}
#ocultar{
    display: none;
}
#chk-politica:checked~#ocultar{
    display: block;
}