
<body >
  
    <div class = "card mx-auto">
        <div class="card-header bg-secondary text-center">
          <h5 style="color: rgb(26, 22, 22)" >Iniciar sesión </h5>
        </div>
        
        <form  action="/cargar-articulo">
            <div class="card-body">
            <div class="entrada mb-3 mt-3" >
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="correo electronico">
              
            </div>
            <div class="entrada mb-3">
              <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              <input type="password" class="form-control" id="exampleInputPassword1"placeholder="password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-secondary" style="color: black;"routerLink="">Ingresar</button>
            <div id="emailHelp" class="form-text">
               
                ¿No tienes una cuenta? 
            </div>
            <a href="/registro">Registrate</a>
        </div>
          </form>
        </div>
      </body>
